---
// If there is nothing in the frontmatter of your .astro file, you don’t have to write the code fences.
//  You can always add them back in when you need them.
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags">Tags</a>
</div>
